<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>renduSymfony - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('style/main.css') }}" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="row center">
        <nav id="nav-bar" class="row color-b">
            <ul class="row">
                <li><a class="row center" href="{{ path('accueil') }}">ACCUEIL</a></li>
                <li><a class="row center" href="{{ path('article_index') }}">Articles</a></li>
                <li><a class="row center" href="{{ path('user_index') }}">Utilisateurs</a></li>
                <li><a class="row center" href="{{ path('app_login') }}">Connexion</a></li>
                <li><a class="row center" href="{{ path('app_logout') }}">Déconnexion</a></li>
                <li><a class="row center" href="{{ path('app_register') }}">Inscription</a></li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
